auto-install-peers=true
ignore-scripts=false
side-effects-cache=true
onlyBuiltDependencies=prisma,@prisma/engines,@scarf/scarf,esbuild
public-hoist-pattern[]=*prisma*
allow-build=@prisma/engines,@scarf/scarf,esbuild,prisma
public-hoist-pattern[]=*express*
public-hoist-pattern[]=@types/*